// font
$--fontSizeTitle18: 18px;
$--fontSizeTitle16: 16px;
$--fontSizeText16: 16px;
$--fontSizeText14: 14px;
// spacing
$--pagePadding: 10px;
// color
$--pageBackgroundColor: rgb(25, 25, 25);
$--tabBarColor: rgb(48, 54, 53);
$--tabBarActiveColor: rgb(56, 71, 69);