@mixin box-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin scroll-bar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}